{% extends '::base.html.twig' %}
{% block headbar %}
    <div class="headbar">
        <a href="javascript:history.back()" class="back"><</a>
        Page d'erreur
    </div>
{% endblock %}

{% block body %}
    <h1 class="text-center"> Page introuvable </h1>
    <div class="text-center">
    <p>La page demandée n'a pas pu être retrouvée. Vérifiez l'URL</p>
    <a href="{{ path('homepage') }}"><p>Retourner à l'accueil</p></a>

{% endblock %}