{% extends '::base.html.twig' %}

{% block body %}>
    <h1 class="text-center"> Erreur </h1>
    <div class="text-center">
    <p>Une erreur est survenue. Veuillez nous contacter pour que nous puissons régler le problème au plus vite. Désolé
        pour la gêne occasionnée.</p>
    <p><a href="{{ path('homepage') }}">Retourner à l'accueil</a></p>
{% endblock %}