{% extends '::base.html.twig' %}

{% block body %}
        <h1 class="text-center"> Page introuvable </h1>
            <div class="text-center">
                <p>La page demandée n'a pas pu être retrouvée. Vérifiez l'URL ou <a href="{{ path('homepage') }}">Retourner à l'accueil</a></p>
            </div>
{% endblock %}