<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
<<<<<<< HEAD
<h3>Bienvenue {{ user.firstname }},</h3>
=======
<h3>Bienvenue {{ user.firstName }},</h3>
>>>>>>> karim

<p>Vos identifiants de connexion :</p>
<ul>
    <li>Email : {{ user.email }}</li>
    <li>Mot de passe : {{ user.plainPassword }}</li>
</ul>


</body>
</html>