{# default Sliding pagination control implementation #}

{% if pageCount > 1 %}
    <div class="pagination">

        {% if previous is defined %}
                <span><a href="{{ path(route, query|merge({(pageParameterName): previous})) }}" class="previous">Précédent</a></span>
            {% else %}
                <span class="previous">Précédent</span>
        {% endif %}

        {% if next is defined %}
                <span><a href="{{ path(route, query|merge({(pageParameterName): next})) }}" class="next">Suivant</a></span>
            {% else %}
                <span class="next">Suivant</span>
        {% endif %}
    </div>
{% endif %}
