{% extends 'base.html.twig' %}
{% block headbar %}
<div class="headbar">
    <a href="javascript:history.back()" class="back"><</a>Conditions d'utilisations et mentions légales
</div>
{% endblock %}

{% block body %}
<div class="contenant">
    <h2>Présentation</h2>
    <p>Ce site a été mis en place dans le but d'améliorer la recherche ornithologique (en compilant des observations associées à des photos d'oiseaux).
        Pour toute autre utilisation, l'administrateur du site se réserve le droit de supprimer le compte de l'utilisateur.
        La responsabilité de l'association NAO ne saurait être engagée.</p>
    <p>Tout contrevenant s'expose à des poursuites judiciaires.</p>



    <br/>
    <h2>Mentions légales et CGU :</h2>
    <p>N.A.O (Nos Amis les Oiseaux) est une association sans but lucratif de loi 1905 créée en 2002, dont le siège est situé au 25 rue des fleurs, Paris -France. Tel: 09 93 45 26 26</p>

    <p>Responsable de rédaction & publication : Michel Dujardin</p>

    <p>Hébergement et développement : Site web hébergé par OVH (2 rue Kellermann - 59100 Roubaix - France) , créé par l’agence CK@SH.</p>

    <p>Données personnelles : Toutes les données personnelles sont recueillies uniquement dans le cadre du bon fonctionnement du site. Aucune données ne sera revendue à des tiers ou utilisées à des fins commerciales. Vous pouvez demander la consultation ou la suppression de vos données personnelles par mail à l’adresse admin@matuvu.org.</p>

    <p>Matuvu est une marque déposée et protégée qui a fait l'objet d'une déclaration à l'Institut national de la propriété industrielle (INPI) sous le n° 45628754.
        Ce site web constitue une œuvre protégée en France par le Code de la Propriété Intellectuelle, et à l'étranger par les conventions internationales en vigueur sur le droit d'auteur.</p>

    <br/>

    <p>En souscrivant aux services proposés par le site, l'utilisateur accepte les conditions légales définies ci dessous :</p>
    <p>Droits de reproduction</p>

    <p>Toutes les images fournies par les utilisateurs du site (dans le cadre d’observations d’oiseaux) sont libres de droit et réutilisables par l’association NAO.
        Merci de bien vérifier les droits qui vous sont alloués, car la violation de l'un des droits d'auteur de l'œuvre est un délit de contrefaçon passible, aux termes de l'article L. 122-4 du Code de la propriété intellectuelle, de 2 ans d'emprisonnement et de 150 000 Euros d'amende.
        La reproduction des illustrations (photos, images, schémas...) à but commerciale n'est pas autorisée sans accord écrit.
        Si vous souhaitez obtenir une autorisation de reproduction dans un but commercial, vous devez obligatoirement nous contacter.</p>


    <h2>Utilisation de cookies</h2>
    <p>En poursuivant votre navigation sur le site, vous acceptez de télécharger des cookies sur votre ordinateur.</p>
    <p>Ces fichiers permettent</p>
    <p>- de personnaliser votre navigation</p>
    <p>- de mesurer l'audience de Matuvu via Google Analytics</p>
    <p>- de vous proposer des publicités ciblées</p>
    <p>- de vous offrir des boutons personnalisés de partage des réseaux sociaux (Facebook, Instagram)</p>
    <p>Les cookies sont utiles pour de nombreuses fonctionnalités sur le site, et améliorent l'expérience de navigation sur le site, sans compromettre vos données personnelles. Si vous ne souhaitez pas que Matuvu dépose des cookies sur votre ordinateur, vous devez modifier les paramètres / les options de votre navigateur Internet pour les désactiver.</p>

</div>
{% endblock %}

