{% extends 'PlatformBundle::layout.html.twig' %}
{% block title %}
    <p>Historique des observations</p>
{% endblock %}
{% block link %}
    <a href="{{ path('user_edit') }}">Modifier mon profil</a>
{% endblock %}

{% block content %}
    <ul>
        {% for observation in observations %}
            <li><a href="{{ path('observation_view', {'id' : observation.id}) }}">{{ observation.oiseau.name }}</a></li>
        {% endfor %}
    </ul>

{% endblock %}