{% extends 'PlatformBundle::layout.html.twig' %}
{% block headbar %}
    <h1 class="hidden-xs" >Propositions en attente</h1>
{% endblock %}



{% block content %}
    <div class="border border-left col-md-8">
    <ul>
        {% for observation in observations %}
            <li><a href="{{ path('observation_view', {'id' : observation.id}) }}">{{ observation.oiseau.name }}</a></li>
        {% endfor %}
    </ul>
    <div class="navigation">
        {{ knp_pagination_render(observations) }}
    </div>
    </div>
{% endblock %}