{% extends 'PlatformBundle::layout.html.twig' %}
{% block title %}
    <p>Observations en attente</p>
{% endblock %}

{% block link %}
    <div>
        <a href="{{ path('user_observations') }}">Accéder aux propositions</a>
    </div>
{% endblock %}


{% block content %}


{% endblock %}