@font-face {
  font-family: rondalo; 
  src: url(../fonts/Rondalo-Regular.ttf)  
}

@font-face {
  font-family: SEGOEUI,arial; 
  src: url(../fonts/SEGOEUI.TTF)  
}

img {
    max-width: 100%;
}

.flexbox {
    display: flex;
    
}

.flexbox-col{
    flex-direction: column;
    align-content:stretch;
    
}

.flexbox-col-1 {
    width: 8.3333333333%;
}

.flexbox-col-2 {
    width: 16.6666666666%;
}

.flexbox-col-10 {
    width: 83.3333333333%;
}

a {
    color: inherit;
    font-family: SEGOEUI,arial;
}

a:focus, a:hover {
    color: inherit;
    text-decoration: none;
}

input{
    width: 50%;
}

#header-title {
    font-weight: bolder;
    font-size: 35px;
    display: flex;
    align-items: flex-end;
    font-family: rondalo;
}

h1 {
    padding: 30px 0;
    background-color:#FF6600;
    color: white;
    text-align: center;
    margin: 20px 0;
    font-family: SEGOEUI,arial;
    font-size:20px;
}

@media (min-device-width: 768px) {
    #user_edit {
        border: 1px solid black;
        
    }

/*    #user_add_col {
        padding: 0px;
        border-right: 1px solid black;
        display: flex;
        align-items: center;
    }*/
     #header-consultant > img {
        margin-top: 20px;
        width: 50px;
        display: block;
        
    }
   
    
}



@media (max-device-width: 767px) {
    .button-bg {
        position: absolute;
        bottom: 0;
        left: 0px;
        right: 0px;   
        
    }
    
    
    #statut{
     margin-top:40px;  
   }
   
   #select{
       margin-top: 20px;
   }
   
   #header-consultant {
        width: 100vw;
        margin-top: 15px;
    }

    #header-consultant > img {
        margin: auto;
        width: 50%;
        display: none;
        margin-top: 50px;
    }
    
    body {
        min-height: 100vh;
    }
  
}

a:hover{
      color:#000; 
   }
   a{
       color:white;
       font-size: 16px;
   }
   
   input{
       font-size:14px;
       width: 110px;
   }

   #bandeau{
     background-color:#FF6600; 
     width:100%;
     position:absolute;
     top:0px;
     padding:15px;
     margin-bottom: 20px;
     color:white;
     font-weight: bolder;
   }
   
    #bandeau_lien{
      color:white; 
   }
   
   p{
       font-family:SEGOEUI,arial;;
   }  

   .conditions{
       color:#95989A; 
       font-size: 16px;
   }
   
   .conditions:hover{
       color:#000;       
   }
   
   
   
   .background{
       background-color: white;
       margin-top:0px;
       padding-bottom:0px;
       /*padding-top:142px;*/
       margin-bottom:0px;
       display:flex;
       align-content: stretch;
       height:230px;
       text-align: center;
       
       
   }
   inlineblock{
       display:inline-block; 
   } 
   
   label{
       font-weight: normal;
   }
   
   
   #user_edit_form{
      border-left: 1px solid black; 
   }
   
   
   #observation_view {
    justify-content: center;
}

    #observation_view_form > form > div {
    display: flex;
    justify-content: center;
    /*margin: 30px 0;*/
    /*padding-top:40px;*/
    
}

    .button-bg {
    
    margin-bottom: 0 !important;
    /*margin-top:130px;*/
    width: 100%;
    background-color: #FF6600;
    border: none;
    padding: 10px 0;
    font-size: 20px;
    font-weight: bolder;
    color: white;  
    
}
   
   
   
   
   
   




