{% extends 'PlatformBundle::layout.html.twig' %}
{% block title %}
    <p>Administration du site</p>
{% endblock %}

{% block link %}
    <div>
        <a href="{{ path('users_index') }}">Gestion des membres</a>
    </div>
{% endblock %}
{% block content %}


{% endblock %}