{% extends '::base.html.twig' %}

{% block body %}

    <form action="" method="POST" id="search">


        <div class="ui-widget form-group">
            <label for="search" class="control-label">Recherche</label>
            <input id="search" name ="search" class="input-lg form-control" type="text" size="50">
        </div>


        <button type="submit" class="btn btn-lg btn-primary">Rechercher</button>
    </form>

{% endblock %}
