{% extends '::base.html.twig' %}

{% block body %}

    <form action="" method="POST" id="search">
        <div>
            <label for="search">Recherche</label>
            <input id="search" name ="search" type="text">
        </div>
        <button type="submit">Rechercher</button>
    </form>

{% endblock %}
