{% extends '::base.html.twig' %}

{% block title %}

    <div class="">
        <form action="" method="POST" id="search">
            <div>
                <label for="search">Recherche</label>
                <input id="search" name="search" type="text" required>
            </div>
            <button type="submit">Rechercher</button>
        </form>
    </div>
{% endblock %}

{% block body %}
{% endblock %}


