{% extends 'PlatformBundle::layout.html.twig' %}

{% block title %}
    <p></p>
{% endblock %}

{% block link %}
    <div>
        <a href="">Accèder aux propositions</a>
    </div>
{% endblock %}
{% block content %}
{{  }}

{% endblock %}